<h2> CAT NUMBER <%= @cat.id %> </h2>
<h3> Name: <%= @cat.name %></h3>

<p> Coat Color: <%= @cat.color1 %></p>
<p> Coat Pattern: <%= @cat.coat_pattern %></p>

<p> Marking Color: <%= @cat.marking_color %></p>
<p> Marking Pattern: <%= @cat.marking_pattern %></p>
