<h2> CAT NUMBER <%= @cat.id %> </h2>
<h3> Name: <%= @cat.name %></h3>

<p> Coat Color: <%= @cat.primary_color %></p>
<p> Coat Pattern: <%= @cat.primary_pattern %></p>

<p> Marking Color: <%= @cat.secondary_color %></p>
<p> Marking Pattern: <%= @cat.secondary_pattern %></p>
