<!DOCTYPE html>
<html>
<head>
  <title>Kettlingur</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> KETTLINGUR </h1>
  <%= "Welcome, #{current_user.email}!" if current_user %></li>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Home", root_path  %></li>
        <li><%= link_to "Sign In", new_user_session_path  %></li>
        <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Edit Account", edit_user_registration_path %></li>
        <% if current_user %>
          <li><%= link_to "Your Account", user_path(id: current_user.id) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <%= yield %>

</body>
</html>
